
<div class="register-container">
  <h2>conectar-se ao Beatfly</h2>
  <!-- Formulário Angular com ngSubmit -->
  <form class="register-form" (ngSubmit)="onSubmit()" #registerForm="ngForm">

    <label for="username">Nome de usuário</label>
    <input type="text" id="username" name="username" required [(ngModel)]="username" />

    <label for="password">Senha</label>
    <input type="password" id="password" name="password" required [(ngModel)]="password" />

    <button type="submit">Cadastrar</button>
  </form>
  
  <p class="login-link">Não lembro a minha senha? <a href="/login">Recuperar</a></p>

  <div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
  </div>  
  
  <div *ngIf="failMessage" class="fail-Message">
  {{ failMessage }}
  
    </div>

 </div>
