<div class="login-wrapper">
  <div class="login-container">

<div class="login-container">
  <h2>Conectar-se ao Beatfly</h2>
  <!-- Formulário Angular com ngSubmit -->
  <form class="login-form" (ngSubmit)="onSubmit()" #registerForm="ngForm">

    <label for="username">Nome de usuário</label>
    <input type="text" id="username" name="username" required [(ngModel)]="username" />

    <label for="password">Senha</label>
    <input type="password" id="password" name="password" required [(ngModel)]="password" />

    <button type="submit">Conectar-se</button>
  </form>
  
  <p class="login-link">Esqueceu a sua senha? <a href="#" id="recuperar" (click)="handleRecoveryClick($event)">Recuperar</a></p>

  <div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
  </div>  
  
  <div *ngIf="failMessage" class="fail-Message">
  {{ failMessage }}
  </div>

  <div *ngIf="recoveryMessage" class="email-message">
  {{ recoveryMessage }}
  </div>

 </div>

</div>
</div>