#logo_img {
    width: 4rem;
    border-radius: 20%;
    margin-right: 5px;
}

#logo {
    text-align: center;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 20%;
    background-color: #000000;
    padding: 30px 10px;
    height: 150rem;
    float: left;
    /* Para manter ela à esquerda sem precisar de flex/grid */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 20px;

}

.navbar li {
    list-style-type: none;
    font-size: 20px;
    padding: 20px;
}

.navbar a {
    color: #ffffff;
    cursor: pointer;
    transition: .2s;
    text-align: center;

}

.navbar a:hover {
    color: #0076a8;
}

.navbar hr {
    width: 100%;
    border-bottom: 1px solid #ffffff;
}