 <div class="slider">
  <div class="slides">
    <input type="radio" name="radio-btn" id="slide1" checked>
    <input type="radio" name="radio-btn" id="slide2">
    <input type="radio" name="radio-btn" id="slide3">

    <div class="slide first">
      <img src="https://m.media-amazon.com/images/I/61MWIe1BzwL._UF894,1000_QL80_.jpg" alt="Slide 1">
    </div>
    <div class="slide">
      <img src="https://cdn-images.dzcdn.net/images/cover/82db4c0f8e9412cafb1cd765b076d58c/0x1900-000000-80-0-0.jpg" alt="Slide 2">
    </div>
  <div class="slide">
      <img src="https://uploads.tenhomaisdiscosqueamigos.com/2018/08/Eminem.jpg" alt="Slide 3">
    </div>
  </div>
</div>
