* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Remove barra de rolagem */
  background: linear-gradient(to right, #000000, #0f2027);
  font-family: 'Segoe UI', sans-serif;
  color: #0c0606;
}

.register-wrapper {
  position: absolute;
  top: 60px;       /* Altura da navbar */
  left: 200px;     /* Largura da sidebar */
  right: 0;
  bottom: 80px;    /* Altura do player */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.register-container {
  width: 700px; /* Aumente ou diminua se quiser */
  padding: 50px;
  border-radius: 16px;
  background: rgba(30, 42, 53, 0.8);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  text-align: center;
  border-radius: 8%;
}

.register-container h2 {
  margin-bottom: 30px;
  font-size: 27px;
  font-weight: 600;
  color: #ffffff;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.register-form label {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.register-form input {
  padding: 12px 14px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: #2c3e50;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.register-form input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1db954;
}

.register-form button {
  margin-top: 10px;
  padding: 14px;
  font-size: 15px;
  font-weight: bold;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.register-form button:hover {
  background-color: #1ed760;
}

.register-link {
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}

.register-link a {
  color: #1db954;
  text-decoration: none;
  font-weight: 500;
}

.register-link a:hover {
  text-decoration: underline;
}

.success-message {
  margin-top: 15px;
  background-color: #6ca27f;
  color: white;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  animation: fadeIn 0.3s ease-in-out;
}

.fail-Message {
  margin-top: 15px;
  background-color: #eb4d09;
  color: white;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  animation: fadeIn 0.3s ease-in-out;
}

.redirect-message{
  margin-top: 15px;
  background-color:#6ca27f;
  color: white;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  animation: fadeIn 0.3s ease-in-out;
}

.usernameFail-message{
  margin-top: 15px;
  background-color:#eb4d09;
  color: white;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  animation: fadeIn 0.3s ease-in-out;
}


.successfulRegistration-message{
  margin-top: 15px;
  background-color:#6ca27f;;
  color: white;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}