.horizontal-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 5rem;
    background-color: #00000081;

    left: 20%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
    /* garante que fique sobre o conteúdo, mas abaixo da lateral se necessário */
}

.horizontal-navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.horizontal-navbar input {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 20rem;
}

.horizontal-navbar li {
    margin: 0 15px;
}

.horizontal-navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.horizontal-navbar ul:last-child {
    display: flex;
    justify-content: flex-end;
}

#cadastro a{
    color: #000000;
    cursor: pointer;
    transition: .2s;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20rem;
}

#cadastro a:hover {
    color: #000000;
    background: #ffffffc0;
    transition: .2s;
}

#search {
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
    padding: 20px;
}

#search::placeholder {
    color: #ffffff;
}

input[type=text],input[type=text]::placeholder{
 color:white;
}
#login a:hover {
    color: #163b41;
    transition: .2s;
    cursor: pointer;
}